<div class="container">
  <%= form_with(model:@task, local:true, url: choose_new_or_edit ) do |f| %>

    <div class ="form-group">
      <%= f.label :title, t('views.detail.title') %>
      <%= f.text_field :title, { class: 'form-control', placeholder:"Title" } %>
    </div>

    <div class ="form-group">
      <%= f.label :content, t('views.detail.content') %>
      <%= f.text_area :content, { class: 'form-control', placeholder:"Task Content" } %>
    </div>

    <br />

    <div class="form-group">
      <%= f.label :status, t('views.detail.status') %>
      <%= f.select :status, Task.statuses_i18n.invert, {} %>
    </div>

    <div class ="form-group">
      <%= f.label :priority, t('views.detail.priority') %>
      <%= f.select :priority, Task.priorities_i18n.invert, class:"form-control" %>
    </div>

    <div class ="form-group">
      <%= f.label :image, "ファイル"%>
      <%= f.file_field :image %>
    </div>

    <%= f.collection_check_boxes(:labeling_label_ids, @labels, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text} %>
    <% end %>

    <div class ="form-group">
      <%= f.label :limit_datetime, t('views.detail.limit_datetime') %>
      <%= f.datetime_select(
        :limit_datetime,
        user_month_numbers: true,
        default: Date.today
      ) %>
    </div>

    <br />
    <%= f.submit class: 'btn btn-default' %>
  <% end %>
  <div class='btn btn-default'><%= link_to t('views.button.back'), root_path %></div>
</div>
