<div class="container">
  <h1><%= link_to t('views.title.your_task_list'), root_path %></h1>
  <div class="btn btn-default"><%= link_to t('views.title.post_your_task'), new_task_path %></div>
  <div class="btn btn-default"><%= link_to t('views.title.sort_expired'), tasks_path(sort_expired: "true") %></div>
  <div class="btn btn-default"><%= link_to t('views.title.sort_priority'), tasks_path(sort_priority: "true") %></div>

  <h3><%= t("views.title.search_form")%></h3>
  <%= search_form_for(@q, url:search_path) do |f| %>
    <p>
      <%= f.label :title_cont, t('views.title.title_cont') %>
      <%= f.text_field :title_cont %>
      <%= f.label :status_eq, t('views.title.status_eq') %>
      <%= f.select :status_eq, Task.statuses.map{|k,v| [Task.statuses_i18n[k], v]}, include_blank: true %>
    </p>
    <%= f.submit %>
  <% end %>

  <h3><%= t("views.title.label_form")%></h3>
  <%= search_form_for(@q, url:search_path) do |f| %>
      <p>
        <%= f.label :labeling_label_id_eq, t('views.detail.label') %>
        <label style="background-color: aquamarine">
        <%= f.radio_button 'labeling_label_id_eq', '', {:checked => true } %> <%= t('views.button.unspecified') %>
        <%= f.collection_radio_buttons :labeling_label_id_eq, @labels, :id, :name %>
      </p>
    <%= f.submit t('views.title.label_form') %>
  <% end %>
  <br>

  <h3><%= t('views.title.add_label') %></h3>
  <% @labels.each do |label| %>
    <span><%= label.name %></span>
  <% end %>

  <%= form_with(model:@label, local:true, url: labels_path) do |f| %>
    <%= f.label :name, t('views.title.add_label') %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

  <ul>
  <% @task.each do |task| %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th class="col-md-2"><%= t('views.detail.title') %></th>
          <td class="title">
            <%= task.title %>
            <% if task.read? %>
              <span class="badge badge-success" style="background-color: mediumblue"><%= task.read %></span>
            <% else %>
              <span class="badge badge-danger" style="background-color: tomato"><%= task.read %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <th class="col-md-2"><%= t('views.detail.content') %></th><td class="content"><%= task.content %></td>
        </tr>
        <tr>
          <th class="col-md-2"><%= t('views.detail.status') %></th><td class="status"><%= task.status_i18n %></td>
        </tr>
        <tr>
          <th class="col-md-2"><%= t('views.detail.priority') %></th><td class="priority"><%= task.priority_i18n %></td>
        </tr>
        <tr>
          <th class ="col-md-2"><%= t('views.detail.created_at') %></th><td><span class="created_at"><%= task.created_at %><span></td>
        </tr>
        <tr>
          <th class="col-md-2"><%= t('views.detail.limit_datetime') %></td><td><span class="limit_datetime"><%= task.limit_datetime %><span></td>
        </tr>
        <td class="btn btn-default"><%= link_to t('views.button.edit'), edit_task_path(task.id) %></td>
        <td class="btn btn-default"><%= link_to t('views.button.delete'), task_path(task.id), method: :delete %></td>
        <td class="btn btn-default"><%= link_to t('views.button.show'), task_path(task.id) %></td>
      </tbody>
    </table>
  <% end %>
  </ul>
  <%= paginate @task %>
</div>
