<p id="notice"></p>
<h1>your task list</h1>
<ul>
<% @task.each do |task| %>
  <li>title:<%= task.title %></li>
  <li>content:<%= task.content %></li>
  <%= link_to "edit", edit_task_path(task.id) %>
  <%= link_to "del", task_path(task.id), method: :delete %>
  <%= link_to "show", task_path(task.id) %>
<% end %>
</ul>
