<h1>post your task</h1>
<%= form_with(model:@task, local:true, url: tasks_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
