<h1><%= t('view.post_your_task') %></h1>

<% if @task.errors.any? %>
  <div id = "error_explanation">
    <h2> <%= @task.errors.count %> <%= t('view.errors_found!') %></h2>
    <ul>
      <% @task.errors.full_messages.each do | msg | %>
        <p> <%= msg %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model:@task, local:true, url: tasks_path) do |f| %>
  <%= f.label :title, t('view.title') %>
  <%= f.text_field :title %>

  <%= f.label :content, t('view.content') %>
  <%= f.text_field :content %>

  <%= f.label :status, t('view.status') %>
  <%= f.select :status , \
    {"未着手" => t('view.not_yet_started'), "着手" => t('view.start'), "完了" => t('view.complete')},\
    include_blank: true, selected: ""\
  %>

  <%= f.label :limit_datetime, t('view.limit_datetime') %>
  <%= f.date_field :limit_datetime %>
  <%= f.submit %>
<% end %>

<%= link_to t('view.back'), root_path %>
