<div class="container">
  <table class="table">
    <thead>
      <h1><%= t('views.title.task_detail_page') %></h1>
    </thead>
    <tbody>
      <tr>
        <th class="com-md-2"><%= t('views.detail.title') %></th><td><%= @task.title %></td>
      </tr>
      <tr>
        <th class="com-md-2"><%= t('views.detail.label') %></th>
        <td>
        <% @labels.each do |label| %>
          <span><%= label.name %></span>
        <% end %>
        </td>
      </tr>
      <tr>
        <th class="com-md-2"><%= t('views.detail.content') %></th><td><%= @task.content %></td>
      </tr>
      <tr>
        <th class="com-md-2"><%= t('views.detail.status') %></th><td><%= @task.status %></td>
      </tr>
      <tr>
        <th class="com-md-2"><%= t('views.detail.priority') %></th><td><%= @task.priority_i18n %></td>
      </tr>
      <tr>
        <th class="com-md-2"><%= t('views.detail.limit_datetime') %></th><td><%= @task.limit_datetime %></td>
      </tr>
      <tr>
        <td class="btn btn-default"><%= link_to t('views.button.back'), root_path %></td>
      </tr>
    </tbody>
</div>
