<div class="container">

  <%= form_with(model:@user, local:true, url:admin_users_path) do |f| %>
    <div><%= f.label :name %></div>
    <div><%= f.text_field :name %></div>

    <div><%= f.label :email %></div>
    <div><%= f.email_field :email %></div>

    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_digest %></div>
    <div><%= f.submit %></div>

  <% end %>

  <div class="btn btn-default"><%= link_to t('view.back'), admin_users_path %></div>
</div>
