<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//code.highcharts.com/highcharts.js', 'chartkick' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= link_to 'ラベル一覧', labels_path %>
      <%= link_to 'グループ一覧', groups_path %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "期限が近いタスク", tasks_path(show_expired: true) %>
      <%= link_to "タスク一覧", tasks_path %>
      <% if current_user.admin? %>
        <%= link_to "ユーザー一覧", admin_users_path %>
      <% end %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <div><%= flash[:notice] %></div>
    <%= yield %>
  </body>
</html>
